/*DOCUMENTO CSS*/

*{ margin: 0;
    padding: 0;}
 
 section,div{ box-sizing: border-box;}
 
 h4 { color: whitesmoke;
      font-family: "Roboto", sans-serif;
      font-size: 2.5em;
      text-align: center;
      padding-top: 220px;
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.849);
      }
 
 .container { width: 65%;
              margin: auto;
              display: flex;
              flex-flow: wrap row;
              justify-content: space-between;
              align-items: flex-start;}
 
 .items { background-color: orange;
          height: 350px;
          width: 100%;
          background-size: 100% 100%;
         background-repeat: no-repeat;
         background-position: center center;}
 
 .primero {  background-image: url(https://fastly.picsum.photos/id/1/200/300.jpg?hmac=jH5bDkLr6Tgy3oAg5khKCHeunZMHq0ehBZr6vGifPLY);}
 .segundo { background-image: url(https://fastly.picsum.photos/id/1/5000/3333.jpg?hmac=Asv2DU3rA_5D1xSe22xZK47WEAN0wjWeFOhzd13ujW40);}
 .tercero { background-image: url(https://fastly.picsum.photos/id/7/4728/3168.jpg?hmac=c5B5tfYFM9blHHMhuu4UKmhnbZoJqrzNOP9xjkV4w3o)}
 .cuarto { background-image: url(https://fastly.picsum.photos/id/9/5000/3269.jpg?hmac=cZKbaLeduq7rNB8X-bigYO8bvPIWtT-mh8GRXtU3vPc);}
 
 
 /*.segundo { align-items: flex-end;}*/

 @media only screen and (min-width: 560px) {
    .container { padding: 15px;}

    .items { width: 49%;
             height: 190px;}

    h4 { font-size: 2em;
         padding-top: 120px;}

    .primero { margin-right: 1%;
    margin-bottom: 10px;}
 }

 @media only screen and (min-width: 1280px) {
    .container { width: 65%;
                 justify-content: space-around;}

    .items { width: 25%;
             margin: 0px;
             height: 170px;}
    
    h4 { font-size: 1.7em;}

 }