/*DOCUMENTO CSS*/

body {background-color: rgb(171, 229, 255); }


h1 {color: rgb(3, 28, 255); 
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal; }

.centrar { margin: auto;
            display: block;
            padding: 5px;}

h2 {color: rgb(38, 36, 128);
    font-family: "Spicy Rice", serif;
    text-transform: uppercase;
    text-align: center; 
    padding: 15px 0px;}

.parrafo {color: rgb(9, 5, 70);
         font-family: "Edu AU VIC WA NT Pre", cursive;
         font-optical-sizing: auto;
}


.footer { color: white;
          text-align: center;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}