/*DOCUMENTO*/

*{ margin: 0;
   padding: 0;}

div, header, nav { box-sizing: border-box;}

/*Encabezados*/


/*Layouto maquetación*/

.cabecera { width: 100%;
             min-height: 1px;
            background-color: rgb(30, 30, 112);}

.barra {  width: 100%;
          text-align: center;
         font-size: 3em;
         color: white;
         padding: 8px 0px;}

.logo { }

.menu {  width: 100%;
         display: flex; 
         min-height: 1px;
         }

.items { width: 25%;
         text-align: center;
         color: blanchedalmond;
         font-family: "Montserrat", sans-serif;
         text-decoration: none;
         padding: 8px 0px 8px 0px;
         background-color: darkcyan;}

/* Media queries o pantallas*/
@media only screen and (min-width: 1280;) { 
    .menu { width: 60%;
             margin: auto;}

    .items { border: 1px solid rgba(0, 0, 0, 0.644);}
    .items :first-child { border-top-left-radius: 20px;
                          border-bottom-left-radius: 20px;}
}